apiVersion: v1
kind: Secret
metadata:
  name: click-mysql-secret
  namespace: wetfish-dev
  labels:
    app: click
    component: mysql
type: Opaque
data:
  # Values are base64-encoded. Generate with: echo -n 'value' | base64
  mysql-root-password: Q0hBTkdFTUU= # CHANGEME
  mysql-user: Q0hBTkdFTUU= # CHANGEME
  mysql-password: Q0hBTkdFTUU= # CHANGEME
  mysql-database: Y2xpY2tkYg== # clickdb
