apiVersion: v1
kind: Secret
metadata:
  name: wiki-mysql-secret
  namespace: wetfish-dev
  labels:
    app: wiki
    component: mysql
type: Opaque
data:
  # Values are base64-encoded. Generate with: echo -n 'value' | base64
  mysql-root-password: Q0hBTkdFTUU= # CHANGEME
  mysql-user: Q0hBTkdFTUU= # CHANGEME
  mysql-password: Q0hBTkdFTUU= # CHANGEME
  mysql-database: d2lraWRi # wikidb
---
apiVersion: v1
kind: Secret
metadata:
  name: wiki-app-secret
  namespace: wetfish-dev
  labels:
    app: wiki
    component: web
type: Opaque
data:
  # Values are base64-encoded. Generate with: echo -n 'value' | base64
  login-password: Q0hBTkdFTUU= # CHANGEME
  admin-password: Q0hBTkdFTUU= # CHANGEME
  ban-password: Q0hBTkdFTUU= # CHANGEME
  captcha-bypass: Q0hBTkdFTUU= # CHANGEME
