apiVersion: v1
kind: ConfigMap
metadata:
  name: wiki-config
  namespace: wetfish-dev
  labels:
    app: wiki
    component: mediawiki
data:
  LocalSettings.php: |
    <?php
    # MediaWiki configuration for wetfish wiki
    
    # Database settings
    $wgDBtype = "mysql";
    $wgDBserver = "wiki-mysql.wetfish-dev.svc.cluster.local";
    $wgDBname = "wikidb";
    $wgDBuser = "wikiuser";
    $wgDBpassword = "wikipass";
    
    # Site settings
    $wgSitename = "Wetfish Wiki";
    $wgMetaNamespace = "Project";
    
    # Server settings
    $wgServer = "https://wiki.wetfish.local";
    $wgScriptPath = "";
    $wgArticlePath = "/wiki/$1";
    $wgUsePathInfo = true;
    
    # Upload settings
    $wgEnableUploads = true;
    $wgAllowImageUploads = true;
    $wgMaxUploadSize = 10485760; // 10MB
    
    # Skin settings
    $wgDefaultSkin = "vector";
    
    # Extension settings
    wfLoadExtension( 'ParserFunctions' );
    wfLoadExtension( 'Cite' );
    wfLoadExtension( 'SyntaxHighlight_GeSHi' );
    
    # Security settings
    $wgGroupPermissions['*']['edit'] = true;
    $wgGroupPermissions['*']['read'] = true;
    $wgShowIPinHeader = false;
    
    # Cache settings
    $wgMainCacheType = CACHE_NONE;
    $wgMessageCacheType = CACHE_NONE;
    $wgParserCacheType = CACHE_NONE;
    
    # Logo
    $wgLogo = "/logo.png";
    
    # Timezone
    $wgLocaltimezone = "UTC";
    $wgLocalTZoffset = 0;
    
    # Email settings
    $wgEnableEmail = false;
    $wgEnableUserEmail = false;
    
    # Debug settings for development
    $wgShowExceptionDetails = true;
    $wgDebugLogFile = "/var/log/mediawiki/debug.log";
    $wgDebugLogGroups = [
        'exception' => '/var/log/mediawiki/exception.log',
        'error' => '/var/log/mediawiki/error.log',
    ];
    ?>