apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wiki-data-pvc
  namespace: wetfish-dev
  labels:
    app: wiki
    component: mediawiki
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wiki-uploads-pvc
  namespace: wetfish-dev
  labels:
    app: wiki
    component: mediawiki
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path